.chatting-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ededed;
}
.chatting-text {
  left: 0px;
  bottom: -6px;
  height: 88%;
  position: absolute;
  line-height: 63;
  letter-spacing: 100px;
  background-color: #D9D9D9;
}
.chatting-textarea {
  left: 458px;
  color: #2d2d2d;
  width: 611px;
  bottom: 10px;
  height: 93px;
  position: absolute;
  font-family: "Gotham Narrow Book";
  border-color: #2d2d2d;
}
.chatting-text01 {
  color: rgb(45, 45, 45);
  right: 43px;
  width: 700px;
  bottom: 123px;
  height: 100px;
  position: absolute;
  text-align: center;
  transition: 0.3s;
  font-family: "Gotham Narrow Book";
  line-height: auto;
  border-color: #3d3d3d;
  border-width: 1px;
  border-radius: 16px;
  background-color: rgb(204, 204, 204);
}

.chatting-icon {
  fill: #2d2d2d;
  right: 88px;
  width: 40px;
  bottom: 40px;
  height: 40px;
  z-index: 200;
  position: absolute;
}
.chatting-navlink {
  display: contents;
}
.chatting-icon2 {
  top: 118px;
  fill: #D9D9D9;
  left: 17px;
  width: 60px;
  height: 60px;
  z-index: 500;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  text-decoration: none;
}
.chatting-text07 {
  top: 113px;
  left: 0px;
  color: rgb(237, 237, 237);
  width: 100%;
  height: auto;
  z-index: 300;
  position: absolute;
  font-size: 30px;
  align-self: stretch;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  font-family: "Gotham Medium";
  padding-top: 20px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  padding-bottom: 20px;
  text-transform: capitalize;
  background-color: rgb(0, 85, 150);
}
.chatting-pasted-image {
  top: 0px;
  left: 0px;
  width: 450px;
  height: 120px;
  position: absolute;
  align-self: flex-start;
}
.chatting-text08 {
  top: 250px;
  left: 100px;
  color: var(--dl-color-gray-white);
  width: 250px;
  height: 40px;
  margin: auto;
  position: absolute;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: rgb(0, 85, 150);
}
.chatting-text09 {
  top: 300px;
  left: 100px;
  color: var(--dl-color-gray-white);
  width: 250px;
  height: 40px;
  margin: auto;
  position: absolute;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: rgb(0, 85, 150);
}
.chatting-text10 {
  top: 350px;
  left: 100px;
  color: var(--dl-color-gray-white);
  width: 250px;
  height: 40px;
  margin: auto;
  position: absolute;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 12px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: rgb(0, 85, 150);
}
