.faq-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ededed;
}
.faq-pasted-image {
  width: 450px;
  height: 120px;
  align-self: flex-start;
}
.faq-text {
  color: rgb(237, 237, 237);
  width: auto;
  height: auto;
  font-size: 30px;
  align-self: stretch;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: center;
  font-family: "Gotham Medium";
  padding-top: 20px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  padding-bottom: 20px;
  text-transform: capitalize;
  background-color: rgb(0, 85, 150);
}
.faq-text01 {
  color: rgb(45, 45, 45);
  width: 60%;
  height: 70%;
  align-self: center;
  text-align: center;
  font-family: "Gotham Narrow Book";
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: rgb(237, 237, 237);
}
.faq-text02 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text03 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text04 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text05 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text06 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text07 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text08 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text09 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text10 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text11 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text12 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text13 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text14 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text15 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text16 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text17 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text18 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text19 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text20 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text21 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text22 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text23 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text24 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text25 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text26 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text27 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text28 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text29 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text30 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text31 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text32 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text33 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text34 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text35 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text36 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text37 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text38 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text39 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text40 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text41 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text42 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-link {
  text-decoration: underline;
}
.faq-text43 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text44 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text45 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text46 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text47 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text48 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text49 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text50 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text51 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text52 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text57 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text58 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text59 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-text64 {
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
}
.faq-navlink {
  display: contents;
}
.faq-icon {
  top: 127px;
  fill: #D9D9D9;
  left: 18px;
  color: var(--dl-color-gray-900);
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
