.sign-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.sign-in-text {
  color: rgb(237, 237, 237);
  width: var(--dl-size-size-maxwidth);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(0, 85, 150);
}
.sign-in-text2 {
  font-size: 16px;
}
.sign-in-textinput {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sign-in-textinput1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sign-in-textarea {
  width: 573px;
  height: 115px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sign-in-navlink {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.sign-in-pasted-image {
  padding-top: 10px;
  padding-bottom: 10px;
}
